# Telegram Configuration
TELEGRAM_BOT_TOKEN=8732375173:AAHmRNjbHwD-MZFrl2fUFMe_wVPfHJuV-qk
TELEGRAM_CHAT_ID=8799935641

# Firebase Configuration
# Paste your Firebase Service Account JSON string here
FIREBASE_SERVICE_ACCOUNT=''
